body {
  background-color: #2F97C1;
  /* padding: 20px; */
  /* overflow: hidden; */
}

.navigation--button {
  all: unset;
  font-family: var(--title);
  background-color: var(--yellow);
  width: 8rem;
  text-align: center;
  padding: 1rem 0;
  border-radius: 16px;
  color: white;
}

.nav--buttons-container {
  display: flex;
  width: 20rem;
  justify-content: space-between;
}

.contact-form-container {
  margin: 8vh 4vw 0;
}

.contact-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  max-width: 500px;
  margin: 0 auto;
  padding: 80px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 30px; */
}

.form-column {
  display: flex;
  flex-direction: column;
  font-family: var(--body);
  font-weight: bold;
  gap: 4px;
}

.contact--main-header {
  font-family: var(--title);
  font-size: 3rem;
  color: var(--yellow);
  letter-spacing: 0.2rem;
  text-align: center;
  margin-top: 12vh;
  /* animation: slideIn 1s ease forwards; */
  /* position: fixed; */
  /* top: 100px; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

textarea {
  border: 2px solid black;
  padding: 0;
  resize: none ;
  width: 100%;
  height: 80px;
}

input[type="text"],input[type="email"], input[type="tel"], input [type="date"] {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid black;
  font-family: var(--body);
}

button {
  background-color: #F8C537;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: auto;
  font-family: var(--title);
  border-radius: 16px;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 30px;
}

button:hover {
  opacity: 0.8;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Ensure items are spaced evenly */
  text-align: center; /* Center align text within each div */
  gap: 2rem;
  padding: 10px;
  background-color: #2F97C1;
  font-family: var(--body);
  color: white;
  margin: 2rem auto;
}

.social-media-icons {
  display: flex; /* Ensure the icons are displayed in a row */
  /* align-items: center; */
  justify-content: center;
  align-items: center;
}

.socialmedia-icon {
  margin:5px; /* Adjust margin between icons as needed */
}

.socialmedia-icon img {
  width: 30px;
  height:auto;
  cursor: pointer;
}

.left-text,
.right-text {
  flex: 1; /* Each div takes equal space */
  align-items: center; /*AYTO*/
}

.bold {
  font-weight: bold; /* Apply bold font weight */
}

.left-text p,
.right-text p {
  margin: 0;
}

.socialmedia-icon img {
  width: 30px;
  height:auto;
  margin-top: 5px;
}

@media (min-width: 600px) {
  .form-row {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .footer {
    flex-direction: row;
    align-items: start;
  }
}
